
{{#each data}}

  {{#if active}}
    <div class="listWrapper">
      <i class="fa fa-circle-thin checkbox"></i>
      <li class="listItem" data-id="{{id}}">{{task}}</li>
      <i class="fa fa-minus-square deletebox"></i>
    </div>
  {{else}}
    <div class="listWrapper">
      <i class="fa fa-check-circle checkbox"></i>
      <li class="listItem complete" data-id="{{id}}">{{task}}</li>
      <i class="fa fa-minus-square deletebox"></i>
    </div>
  {{/if}}

{{/each}}
